@use "./variables" as *;
@use "./mixins" as *;
@use "./reset" as *;

/**********************************************
* =Base
**********************************************/
body {
  color: $clr-neutral-100;
  font-family: $ff;
  line-height: 1.6;
  font-weight: 400;
  background-color: $clr-base-900;
}

h1,
h2,
h3 {
  font-weight: 300;
}

#main {
  max-width: 25rem;
  margin-inline: auto;
}

/**********************************************
* =Components
**********************************************/
// dashboard
.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard__header {
  background-color: $clr-base-800;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $clr-primary-400;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard__user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $clr-neutral-100;
}

// tabs
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-block: 1rem;
  list-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.tabs a {
  text-decoration: none;
  color: $clr-primary-200;
}

// stats card
.stats__wrapper {
  margin-top: 1.5rem;
}

.stat-card {
  background-color: orangered;
  border-radius: 10px;
  padding-top: 2rem;
  overflow: hidden;
}

.stat-card__data {
  display: flex;
  justify-content: space-between;
  background-color: $clr-base-800;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
}

/**********************************************
* =Layout
**********************************************/

/**********************************************
* =Utilities
**********************************************/

/**********************************************
* =Animations
**********************************************/

/**********************************************
* =Responsive
**********************************************/

/**********************************************
* =Print
**********************************************/

/**********************************************
* =Dark Mode
**********************************************/

/**********************************************
* =Custom
**********************************************/

[role="tablist"] {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;

  a {
  }
}

[aria-selected="false"] {
  text-decoration-color: transparent;
}

[aria-selected="true"] {
}
