@use "./variables" as *;
@use "./mixins" as *;
@use "./reset" as *;

/**********************************************
* =Base
**********************************************/
body {
  color: $clr-neutral-100;
  font-family: $ff;
  line-height: 1.6;
  font-weight: 400;
  padding-inline: 1rem;
  background-color: $clr-base-900;

  @include flexcol;
  min-height: 100svh;
  justify-content: center;
}

h1,
h2,
h3 {
  font-weight: 300;
}

// dashboard
.dashboard {
  @include flexcol;
}

.dashboard__header {
  background-color: $clr-base-800;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard__user {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $clr-primary-400;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard__user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $clr-neutral-100;
}

// tabs
.tabs {
  display: flex;
  justify-content: space-around;
  padding: 0;
  padding-block: 1rem;
  list-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.tabs a {
  text-decoration: none;
  color: $clr-primary-200;

  &[aria-selected="true"] {
    color: $clr-white;
  }
}

// stats card
.stats__wrapper {
  @include flexcol;
  margin-top: 1.5rem;
  gap: 1rem;
}

.stat-card {
  border-radius: 15px;
  padding-top: 2.375rem;
  overflow: hidden;
}

.stat-card[aria-labelledby="Work"] {
  background: url("../images/icon-work.svg") $clr-light-red1 no-repeat;
  background-position: 95% -10px;
  background-size: 4.875rem;
}
.stat-card[aria-labelledby="Play"] {
  background: url("../images/icon-play.svg") $clr-soft-blue no-repeat;
  background-position: 95% -10px;
}
.stat-card[aria-labelledby="Study"] {
  background: url("../images/icon-study.svg") $clr-light-red2 no-repeat;
  background-position: 95% -10px;
}
.stat-card[aria-labelledby="Exercise"] {
  background: url("../images/icon-exercise.svg") $clr-lime-green no-repeat;
  background-position: 95% 0;
}
.stat-card[aria-labelledby="Social"] {
  background: url("../images/icon-social.svg") $clr-violet no-repeat;
  background-position: 95% -10px;
}
.stat-card[aria-labelledby="Self Care"] {
  background: url("../images/icon-self-care.svg") $clr-soft-orange no-repeat;
  background-position: 95% -10px;
}

.stat-card__container {
  @include flexcol;
  background-color: $clr-base-800;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 1.5rem;
  position: relative;
}

.stat-card__container:focus-within,
.stat-card__container:hover {
  background-color: #33397a;
}

.stat-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-card__menu-toggle {
  background: transparent;
  color: $clr-primary-200;
  border: transparent;
  font-size: 2rem;
  letter-spacing: 0.02em;
  line-height: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $clr-white;
  }
}

.stat-card__title {
  font-size: 1.125rem;
  font-weight: 700;
}

.stat-card__timeframes {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-card__data-current {
  font-size: 2rem;
  font-weight: 100;
}

.stat-card__data-previous {
  color: $clr-primary-100;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/**********************************************
* =Responsive
**********************************************/
@media screen and (min-width: 40em) {
  .stats__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 60em) {
  .dashboard {
    display: grid;
    grid-template-areas:
      "header stats stats stats"
      "header stats stats stats"
      "header stats stats stats";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1rem;
    max-width: 69.375rem;
    margin-inline: auto;
  }

  .dashboard__header {
    grid-area: header;
    border-radius: 15px;
    overflow: hidden;

    @include flexcol;
  }

  .dashboard__user {
    @include flexcol;
    align-items: start;
    flex-grow: 1;
    padding: 2rem;
  }

  .user__name {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .dashboard__tabs {
    grid-area: stats;
  }

  .tabs {
    flex-direction: column;
    padding-inline: 2rem;
    margin-top: auto;
    gap: 1.3125rem;

    a:hover,
    a:focus {
      color: $clr-white;
    }
  }

  .stats__wrapper {
    margin-top: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .stat-card__timeframes {
    flex-direction: column;
    align-items: start;
  }
}
